* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.add-btn, .navbar {
  margin:  0 0 1rem 0;
}

.keg-name {
  text-align: center;
}

.sell-btn {
  margin-left: 1rem;
}

.accordion-header {
  background-color: beige;
}

/* .accordion {
  margin: 0 0 3em 0;
} */